<main>
  <h1>{{team.name}}</h1>
  <img class="cube" src="{{team.imageUrl}}">
  <div class="details">
    <p><span>Description:</span>{{team.description}}</p>
    <a class="btn" href="/teams">Back</a>
    {{#if isAuthenticated }}
    <a class="btn" href="/teams/{{team._id}}/attach">Attach</a>
    <a class="btn" href="/teams/{{team._id}}/edit">Edit</a>
    <a class="btn" href="/teams/{{team._id}}/delete">Delete</a>
    {{/if}}
  </div>
   <h2>Players on the team</h2>
  <div class="accessories">
    {{#each team.players}}
    {{>player}}
    {{else}}
    <h3 class="italic">This team has no players yet...</h3>
    {{/each}}
  </div>
</main>